.message_area
{
  padding: 32px 0px 40px 0px;
  color: black;
  
  
}
.message_body
{
  background-color: #FFFFFF;
	max-width:50%;
  padding: 15px 15px 60px 15px;
  margin: 15px 0px 15px 0px;
	color: black;
}
.msg_header
{
  color: green;
  display:inline;
  
}
.pad
{
  padding: 0px 15px 0px 0px;
}
blockquote
{
	background-color: #A8A8A8;
}
.editor_area .wp-editor-container 
{
    width:60%; 
}
.notification_unread
{
  background-color: #480000;
  width: 35%;
  color: #FFFFCC;
  font-weight: bold;
  margin-left: 2px;
  
  
}
.notification_msg_delete
{
  background-color: #C00000;
  width: 35%;
  color: #FFFFCC;
  font-weight: bold;
  margin-left: 2px;
  clear: both;
}
.notification_error
{
  background-color: #C00000;
  width: 35%;
  color: #FFFFCC;
  font-weight: bold;
  margin-left: 2px;
  clear: both;
  
}
.WPmailer_admin_area
{
  clear: both;
  padding: 20px 0px 0px 20px;
}
.WPmailer_bigbold
{
   font-weight: bold;
   font-size: 20px;
}
.WPmailer_admin_area p
{
  line-height: 50%;
}
.WPmailer_boldinline
{
   font-weight: bold;
   display: inline;
}
.notification_message_sent
{
  background-color: #00CC00;
  width: 35%;
  margin-left: 2px;
  color: black;
  font-weight: bold;
  
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 2px;
  margin: 10px 5px 5px 0px;
  text-decoration: none;
  float: left;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.btn-small {
  background: #3c284a;
  background-image: -webkit-linear-gradient(top, #3c284a, #517d96);
  background-image: -moz-linear-gradient(top, #3c284a, #517d96);
  background-image: -ms-linear-gradient(top, #3c284a, #517d96);
  background-image: -o-linear-gradient(top, #3c284a, #517d96);
  background-image: linear-gradient(to bottom, #3c284a, #517d96);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 6px 14px 8px 14px;
  border: solid #0f1152 2px;
  margin: 10px 5px 5px 0px;
  text-decoration: none;
}

.btn-small:hover {
  background: #0b4b73;
  background-image: -webkit-linear-gradient(top, #0b4b73, #3498db);
  background-image: -moz-linear-gradient(top, #0b4b73, #3498db);
  background-image: -ms-linear-gradient(top, #0b4b73, #3498db);
  background-image: -o-linear-gradient(top, #0b4b73, #3498db);
  background-image: linear-gradient(to bottom, #0b4b73, #3498db);
  text-decoration: none;
}

.first_row
{
  background-color: #303030;
  color: white;
  font-weight: bold;
}

.table_area
{
  clear: both;
  padding: 15px 0 10px 0;
  color: black;
}
td
{
  text-align:center;
}
.editor_area
{
  clear: both;
  padding: 15px 0 10px 0;
  color: black;
}


.no_float
{
  clear: both;
}
.form_error {
  display:inline;
  color: red;
  
}
.form_good {
  display:inline;
  color: green;
  
}